$B:1px solid black;
$bgColor:rgba(242,242,242,1);
$width:1190px;
$font:12px;
$B:1px solid black;
$color:rgba(255,255,255,1);
$Sprite:url("../imgs/sprite.png") no-repeat;


%wrapper {
  .wrapper {
    width:$width;
    margin:0 auto;
    background-color:inherit;
  }
}


